OPENAI_API_KEY=sk-proj....
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ragdb
POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpass
PGVECTOR_COLLECTION=default
PGVECTOR_CONNECTION=postgresql+psycopg://raguser:ragpass@localhost:5432/ragdb

#PGVECTOR_CONNECTION=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET=change-me-in-production
